{% comment %}
  Renders a link card with heading and a description.

  Adastra also teaches you stuff ✦
  - A good practice is to always add comments at the beginning of your snippets ;)

  Accepts:
    - Heading: {string} Card heading (required)
    - description: {string} Card description (optional)
    - link: {url} Card link (optional)

  Usage:
    {% render 'card' heading: block.settings.heading %}
{% endcomment %} 

{% if heading or heading != empty %}
  <div class="card relative rounded-xl p-1 shadow-sm">
    <a
      class="bg-white/90 group flex flex-col gap-y-3 rounded-xl p-5 hover:backdrop-blur-sm"
      href="{{ link | default: routes.root_url }}"
      target="_blank"
      rel="noopener noreferrer">
      <h2 class="text-base tracking-tight text-darkest">{{ heading }} &rarr;</h2>
      {% if description %}
        <p class="text-darkest">{{ description }}</p>
      {% endif %}
    </a>
    {% unless link %}
      <span class="bg-contrast text-primary/90 absolute -right-2 -top-1 rotate-6 rounded-full px-2 font-mono text-xs font-medium leading-relaxed">coming soon</span>
    {% endunless %}
  </div>
{% endif %}
