{% assign shop_name = 'accessibility_labels.header_logo_home_label' | t: title: shop.name %}
{% if request.page_type == 'index' %}<h1>{% else %}<div class="h1">{% endif %}
<a href="{{ routes.root_url }}" class=" w-[120px] h-[24px] lg:w-[160px] lg:h-[32px]" name="logo" aria-label="{{ shop_name }}">
  {% render 'logo', title: shop_name -%}
  <span class="hidden">{{ shop_name }}</span>
</a>
{% if request.page_type == 'index' %}</h1>{% else %}</div>{% endif %}
